* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: plum;
}

.header__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__link {
    color: black;
    font-size: 20px;
    line-height: 24px;
}

.nav__link__btn{
    color: whitesmoke;
    background-color: purple;
    border-color: purple;
    border-radius: 10%;
    border: none;
}
.nav__link__btn__2{
    color:purple ;
    border-radius: ;
    border-radius: 10%;
    border: none;
}

.content__btn{
    display: flex;
    gap: 35px;
    justify-content: space-between;

}

.content__img{
    width: 100%;
    display: flex;
    align-items: start;
}

.content__nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.text{
    display: flex;
    justify-content: center;
    background-color: plum;
}

.container{
    background-color: plum;
}