* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: plum;
}

.header__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__link {
    color: black;
    font-size: 20px;
    line-height: 24px;
}

.nav__link__btn {
    color: whitesmoke;
    background-color: purple;
    border-color: purple;
    border-radius: 10%;
    border: none;
    height: 45px;
    width: 50px;
}

.nav__link__btn__2 {
    color: purple;
    border-radius: ;
    border-radius: 10%;
    border: none;        
    height: 45px;
    width: 50px;
}

.burger__btn {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

.pizza__img {
    width: 100%;
    display: flex;
    align-items: start;
    @hover{
        transform:scale(1.1);
        transition:all 0.3s ease-in-out;
        
    }
}

.content__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    display: flex;
    justify-content: center;
    background-color: plum;
    height: 20px;
}


.container {
    background-color: plum;
}

.free__body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body__img{
    display: flex;
    align-items: start;
}

@media(max-width: 1100px) {
    .free__body,
     .content {
        gap: 20px;
    }
}

@media(max-width: 1024px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .content:nth-of-type(1) {
        align-items: start;
    }
}

@media(max-width: 820px) {

    .pizza__img {
        position: relative;
        z-index: 10;
    }
}

@media(max-width: 537px) {

    .pizza__img {
        position: relative;
        z-index: 10;
    }
}

@media(max-width: 425px) {

    .pizza__img {
        position: relative;
        z-index: 10;
    }
}




